ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
ADMIN_DOMAIN=127.0.0.1
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_ADMIN_NAME=admin
APP_SECTION_DASHBOARD_ENABLED=true
APP_SECTION_PROVEEDORES_ENABLED=true
APP_SECTION_TIPOS_ENABLED=true
APP_SECTION_PRODUCTOS_ENABLED=true
APP_SECTION_METODOS_PAGO_ENABLED=true
APP_SECTION_CAJAS_ENABLED=true
APP_SECTION_VENTAS_ENABLED=true
APP_SECTION_MOSTRADOR_ENABLED=true
APP_SECTION_STOCK_ENABLED=true
APP_SECTION_USUARIOS_ENABLED=true
