PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/escarbato_petshop
JWT_SECRET=change-me
JWT_EXPIRES_IN=8h
AUTH_USERNAME=admin
AUTH_PASSWORD=admin
CORS_ORIGIN=*
APP_NAME=Escarbato
APP_ASSETS_PATH=assets/escarbato
APP_SECTION_DASHBOARD_ENABLED=true
APP_SECTION_PROVEEDORES_ENABLED=true
APP_SECTION_TIPOS_ENABLED=true
APP_SECTION_PRODUCTOS_ENABLED=true
APP_SECTION_METODOS_PAGO_ENABLED=true
APP_SECTION_CAJAS_ENABLED=true
APP_SECTION_VENTAS_ENABLED=true
APP_SECTION_MOSTRADOR_ENABLED=true
APP_SECTION_STOCK_ENABLED=true
